name: Customer Intelligence CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies (clean numpy/pandas)
        run: |
          pip install --upgrade pip
          pip uninstall -y numpy pandas || true
          pip install --no-cache-dir numpy==1.24.4 pandas==1.5.3
          pip install -r requirements.txt

      - name: Run Customer Intelligence script
        run: python src/Customer-Intelligence-GP.py
