name: Python CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.10]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install numpy==1.21.6 pandas==1.5.3 scikit-learn==1.3.0 matplotlib==3.7.1 seaborn==0.12.2 statsmodels==0.14.0 openpyxl==3.1.0 joblib==1.2.0

    - name: Run Customer Segmentation script
      run: |
        python src/Customer-Intelligence-GP.py
